span {
    color: #989898;
    font-size: 15px;
    margin-right: 5px;
}

.user-content {
    height: 100%;
}

.header-content {
    padding: 10px;
    border-bottom: 1px solid;
}

.user-description {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    word-wrap: break-word;
}

.div-img {
    padding: 5px;
}

.user-description p {
    font-size: 14px;
}

.user-description img {
    border-radius: 100px;
    border: 1px solid #d6d6d6;
    width: 75%;
}

.flex {
    display: flex;
    margin: 5px 0px;
}

.flex img {
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

.flex p {
    margin-left: 5px;
}

.div-followers {
    display: flex;
    margin: 5px 0px;
}

.div-followers p {
    margin-right: 5px;
    font-weight: bold;
}

.div-long {
    padding-top: 5px;
}

.div-long p {
   margin-top: 2px;
   font-weight: bold;
}

.user-bio-description {
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.user-bio-description .div-long {
    padding-top: 10px;
}

.user-bio-description .div-long  p {
    font-weight: normal;
}

.user-repositories {
    padding: 10px;
}

.user-repositories-title{
    display: flex;
    justify-content: space-between;
}

.user-repositories .card-list {
    background-color: #fff;
    border: 1px solid #e0dfdf;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
    -webkit-box-shadow: 2px 5px 16px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 5px 16px -8px rgba(0,0,0,0.75);
    box-shadow: 2px 5px 16px -8px rgba(0,0,0,0.75);
}

.button-icon {
    border: none;
    background: none;
    outline: 0;
    width: 20px;
}

.footer-content {
    bottom: 0;
    padding: 10px;
    width: 100%;
}

.footer-content button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: #e0d870;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 320px) {
    h3, p {
        font-size: 15px;
    }
}